.section-1 {
  background-color: #1F2937;
  padding: 20px 170px 130px 170px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  height: 100px; 
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  justify-content: space-between;
}
.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  width: 430px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 16px;
}

img {
  height: 217px;
  width: auto;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #3882F6;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  padding: 8px 29px;
}

body {
  margin: 0;
}

.info-header {
 font-size: 36px;
 font-weight: bolder;
 color: #1f2937;
 text-align: center;
 margin-bottom: 40px;
}

.img-text-container {
  display: flex;
  justify-content: space-between;
}

.square {
  height: 165px;
  border-color: #3882F6;
  border: 3px solid #3882F6;
  box-sizing: border-box;
  border-radius: 10px;
}

.img-text {
  width: 165px;
  text-align: center;
}

.section-2 {
  padding: 30px 280px 130px 280px;
}

.section-3 {
  background-color: #E5E7EB;
}